body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     height: 100%;
     background-color: #f7f7f7;
}
header{
    position: sticky;
    top: 0px;
    z-index: 10;
}
.left-container{
    display: flex;
}
.logo-name{
    text-decoration: none;
    color: rgb(221, 218, 218);
    font-size: 1.5rem;
}
.greenway:hover{
    color: green;
}
.academic:hover{
    color: red;
}
.top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #002d7c;
    color: #ffffff;
    height: 60px;
    padding: 1em;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin: 0 1rem;
    overflow: hidden;
    z-index: 10;
    font-weight: bold;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#menu-toggle{
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after{
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px){
    .left-container{
        align-items: center;
    }
    .logo-name{
        font-size: 1.2rem;
    }
    .menu-button-container{
        display: flex;
    }
    .menu{
        position: absolute;
        top: 0;
        margin-top: 90px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li{
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #002d7c98; 
    }
   
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* Slideshow container */
.section1{
    background-color: #ffb0a9;
}
.slideshow-container{
    max-width: 60%;
    position: relative;
    margin: auto;
}
@media (max-width :700px){
    .slideshow-container{
        max-width: 100%;
    }
}
/* Hide the images by default  */
.myslides{
    display: none;
    text-align: center;
}

/* Next and previous buttons  */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.number-text{
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.join-button{
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 100%;
}
/* Join Us button on slider */
.slideshow-container button{
    font-size: 100px;
    background-color: rgb(126, 22, 158);
    border: 3px solid rgb(126, 22, 158);
    color: rgb(255, 254, 254);
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.521), 0 6px 20px 0 rgba(0,0,0,0.521)
}
    @media (max-width: 700px){
        .slideshow-container button{
            padding: 5px 10px;
            font-size: 12px;
        }
    }
button:hover{
    background-color: white ;
    color: rgb(0, 0, 0);
}
/* The dots/bullets */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
/* Fading Amimation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: 0.4;}
    to {opacity: 1;}
}
.slidepic{
    width: 100%;
}

/* second section of landing page */
.section2-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.section2-row1, .section2-row2{
    display: flex;
    justify-content: center;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    width: 300px;
    text-align: center;
    margin: 40px;
}
.one, .two, .three, .four, .five, .six{
    position: relative;

}
.number1, .number2, .number3, .number4, .number5, .number6{
    font-size: 11em;
    font-weight: bold;
    color: #f9e79b;
}
.intext1, .intext2, .intext3, .intext4, .intext5, .intext6{
    position: absolute;
    top: 30px;
    text-align: center; 
}
/* second section for mobile view */
    @media (max-width: 700px){
        .section2-title{
            max-width: 100%;
        }
        .section2-row1, .section2-row2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .box1, .box2, .box3, .box4, .box5, .box6{
            margin-top: -20px;
        }
    }
/* Third section of landing page */
.section3{
    display: flex;
    margin-top: 150px;
  }
.section3-bgcolor{
    background-color: #20adff;
    border: 5px solid #20adff;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
.section3-content-box{
    border: 4px solid #ffffff;
    background-color: #ffffff;
    width: 210px;
    margin: 15px;
    height: 280px;
    position: relative;
    box-shadow: 5px 5px 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
#section3-box1, #section3-box3{
    position: relative;
    top: -52px;
  }
#section3-box2, #section3-box4{
    position: relative;
    top: -110px;
  }
.box-logo{
    border-radius: 50%;
    border: 2px solid;
}
.box-title{
    font-weight: bold;
    margin: 10px;
}
.box-description{
    text-align: center;
    margin: 1px 10px 6px 10px;
}
.box-more{
    text-decoration: none;
    color: #000000;
    position: relative;
    top: 6px;
    border-bottom: 1px solid;
    font-weight: bold;
}
/* third section mobile view */
    @media (max-width: 700px){
        .section3{
            margin-top: -50px;
        }
        .section3-bgcolor{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        #section3-box1{
            top: -100px;
        }
        #section3-box3{
            top: -120px;
        }
        #section3-box4{
            top: -130px;
        }
    }
/* fourth section of landing page */
.section4{
    background-color: greenyellow;
    margin-top: 100px;
    padding: 5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
}
.section4-description{
    text-align: center;
    margin-bottom: 50px;
    width: 70%;
}
.section4-button{
    background-color: yellow;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
/* fourth section mobile view */
    @media (max-width: 700px){
        .section4{
            margin-top: 0px;
            padding: 20px 0px 10px 0px;
            height: 450px;
            font-size: 12px;
            padding-bottom: 80px;
        }
    }
/* Contact section of landing page */
#contact-section{
    background-color: #000000;
    color: white;
    margin-top: 100px;
}
.contact-section-heading{
    color: #464646;
    font-size: 4.5em;
    position: relative;
    display: flex;
    justify-content: center;
}
.contact-section-heading-overlay{
    position: absolute;
    top: 135px;
    color: #ffd404;
    font-size: 30px;
    font-weight: bold;
}
.contact-section-body{
    display: flex;
    justify-content: center;
}
.contact-section-body-left{
    width: 20%;
    margin-right: 200px;
    align-items: center;
}
.contact-section-body-left-top, .contact-section-body-left-middle{
    padding-bottom: 20px;
}
.contact-section-body-right{
    display: flex;
    align-items: center;
}
#name, #email, #messagebox{
    width: 400px;
    height: 20px;
    padding: 10px;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}
#messagebox{
    resize: none;
    height: 70px;
}
#submit{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 15px;
    background-color: #ffd404;
    margin-top: 20px;
}
#submit:hover{
    background-color: white;
}
/* Contact section mobile view */
@media (max-width: 700px){
    #contact-section{
        margin-top: 0;
    }
    .contact-section-heading{
        font-size: 2.3em;
    }
    .contact-section-heading-overlay{
        font-size: 0.4em;
        top: 70px;
    }
    .contact-section-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;

    }
    .contact-section-body-left{
        flex-direction: column;
        margin: 0;
        width: 60%;
        align-items: center;
        margin-bottom: 20px;
    }
    .contact-section-body-left-top, .contact-section-body-left-middle, .contact-section-body-left-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #name, #email, #messagebox{
        width: 250px;
        margin: 0px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}

/* FOOTER */
footer{
    background-color: #002d7cd7;
    color: white;
    font-size: 1rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -25px;
}
@media (max-width: 700px){
    footer{
        font-size: 12px;
        width: 100%;
        margin-bottom: -25px;
    }
}


